header{
    padding: 10px 0;

    .inputBox{
        margin: 0 20px 0 0;
    }
}
.favoriteLink{
    margin: 40px 0 0 0;
    color: aliceblue;
    cursor: pointer;
}
.logo{
    font-family: 'Niconne', cursive;
    color: aliceblue;
    font-size: 50px;
    cursor: pointer;
}

