.not__found{
    row-gap: 10px;
    font-size: 15px;

    p, div{
        color: aliceblue;
    }

    button{
        margin-left: 10px;
        border: none;
        color: #45f3ff;
        background: transparent;
        font-size: 15px;
    }

}