@media(max-width:1200px) {
    .col-3 {
        width: 33.33333%;
    }
}

@media(max-width:800px) {
    .col-3 {
        width: 50%;
    }
}

@media(max-width:700px) {

    .header__wrap{
        flex-direction: column;
    }
}

@media(max-width:700px) {

    .col-3{
        width: 100%;
    }
}
@media(max-width:500px){
    .auth_reg_box{
        width: 300px;
    }
    .inputBox {
        width: 210px;
    }
}
@media(max-width:400px){
    .auth_reg_box{
        width: 250px;
    }
    .inputBox{
        width: 170px;
    }
}

@media(max-width:300px){
    .inputBox{
        width: 150px;
    }
}